section.header-equipe{
    background-color: #252525;
    border-top:1px solid #333;
    border-bottom:1px solid #333;
    padding:5%;
    margin-bottom: 5%;
}
section.header-equipe h2{
    font-size: 44px;
    font-weight: 600;
}
section.equipe{
    width: 90%;
    margin-bottom: 5%;
}
section.equipe h2{
    font-size: 44px;
    font-weight: 600;
}
section.equipe .title-portfolio{
    margin-bottom: 3%;
}
section.equipe .title-portfolio h3{
    font-size: 21px;
    text-transform: capitalize;
}
.title-equipe .line {
    display: block;
    position: unset;
    content: '';
    width: 20%;
    height: 2px;
    bottom: 0;
    background: linear-gradient(to right, #007ced 20%, #353535 20%);
}
section.equipe .title-equipe{
    margin-bottom: 5%;
}
section.equipe .wrap{
    width: 30%;
    margin:0 1.5% 3% 1.5%;
    display: inline-block;
}
section.equipe .box-item{
    -webkit-box-shadow: 0 0 12px rgb(255 255 255 / 12%);
    -moz-box-shadow: 0 0 12px rgba(255,255,255,.12);
    -o-box-shadow: 0 0 12px rgba(255,255,255,.12);
    box-shadow: 0 0 12px rgb(255 255 255 / 12%);
    border: 1px solid #666;
    background-color: #333;
    border-radius: 15px;
    padding: 30px 30px;
    text-align: center;
    transition: all 0.2s ease-in-out;
    width: 100%;
}
section.equipe .box-item:hover {
    -webkit-box-shadow: 0 0 24px rgb(255 255 255 / 14%);
    -moz-box-shadow: 0 0 24px rgba(255,255,255,.14);
    -o-box-shadow: 0 0 24px rgba(255,255,255,.14);
    box-shadow: 0 0 24px rgb(255 255 255 / 14%);
    transform: translateY(-9px);
}
section.equipe .box-item img{
    border-radius: 15px;
    width: 100%;
    height: 50vh;
    object-fit: cover;
}
section.equipe .box-item h4{
    margin-top: 3%;
    line-height: 1em;
    font-size: 28px;
    font-weight: 400;
    color:#d5d5d5;
}
section.equipe .box-item p{
    font-size: 14px;
    font-weight: 400;
    color:#d5d5d5;
}
section.equipe .box-item p:after {
    content: '';
    height: 2px;
    margin-top: 0;
    background-color: #007ced;
    position: relative;
    display: block;
    width: 30%;
    margin: 0 auto;
}


@media screen and (max-width: 780px){
    section.equipe .wrap {
        width: 100%;
        display: block;
        margin-bottom: 7%;
    }
}
